<% layout('layout') -%>
<h1>New Temperature Recorded Successfully</h1>
<div class="alert alert-success">Thank you</div>
<% if(id){ %>
	<p>Id: <%= id %></p>
<% } %>
<% if(loc){ %>
	<p>Location: <%= loc %></p>
<% } %>
<% if(temp){ %>
	<p>Temperature: <%= temp %></p>
<% } %>