<section class="panel">
      <header class="panel-heading">
          New Temperature Recorded Successfully
      </header>
      <div class="panel-body">
          <p>Thank you</p>
      </div>
  </section>
