extends ./layout.jade
block body
	h1 Temp Monitor Data
	p
		a.btn.btn-default(href="/ebolocatemp") Home
	p
		a.btn.btn-primary(href="/ebolocatemp/data/dump") Data Dump (CSV)
	p
		a.btn.btn-primary(href="/ebolocatemp/data/date") Date Range Query
