extends ./layout.jade
block body
	h1 Temp Monitor Data
	p
		a.btn.btn-lg.btn-default(href="/ebolocatemp") Home
	p
		a.btn.btn-lg.btn-primary(href="/ebolocatemp/export.csv") Data Dump - Sample (CSV)
	div.alert.alert-info
		p To obtain live data extract, please send a request to 
			a(href="mailto:informaticslab@cdc.gov") informaticslab@cdc.gov