
<html>
<body>
<section class="panel">
      <header class="panel-heading">
          Error
      </header>
      <div class="panel-body">
          <p>Sorry, there was an error</p>
      </div>
  </section>
  </body>
</html>