<% layout('layout') -%>
<p></p>
<div class="jumbotron">
    <h1>Temp Monitor v0.1 (alpha)</h1>
    <p>Lucas ipsum dolor sit amet windu hutt binks mustafar vader jabba jango wedge han dagobah. Dooku cade grievous jabba fett calrissian wampa calrissian jar. Cade skywalker greedo moff watto jabba leia wedge hutt. Biggs greedo gonk solo. Greedo darth wedge solo darth. Calamari kashyyyk padmé skywalker leia secura darth. Antilles ackbar mothma anakin moff vader ben leia tatooine. Ackbar jango ben hutt obi-wan endor. Aayla organa jar sidious lars. Padmé moff organa ponda greedo. Ponda organa luke bespin mara darth.</p>
    
    <p>
      <a class="btn btn-lg btn-info" href="/ebolocatemp/record" role="button">Add new temperature reading »</a>
    </p>
  </div>
