doctype html
html(lang="en")
	head
		title= title
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css")
		link(rel="stylesheet" href="/ebolocatemp/typeahead.css")
	body
		.container
			div.row
			dif.col-xs-12
				block body
		script(src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
		script(src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js")
		script(src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js")
		block scripts